body{

background:#ffffff;
font-family:'Lobster', cursive;
font-style:italic;
text-align:center;
margin:0;
padding:20px;

}


h1{

font-size:48px;
margin:10px;

}


h2{

font-size:36px;
margin:10px;

}


.topo{

display:flex;
justify-content:center;
align-items:center;
gap:40px;
margin-top:20px;

}


.gatinho-flor__2_-removebg-preview.png{

width:120px;

}


.texto-tempo{

margin-top:40px;
font-size:28px;

}


.contador{

font-size:32px;
margin-top:10px;

}


.titulo-cartinhas{

font-size:70px;
margin-top:60px;

}


.subtitulo{

font-size:30px;
margin-top:10px;

}


.sentimentos{

display:flex;
justify-content:center;
gap:70px;
margin-top:40px;
flex-wrap:wrap;

}


.sentimento{

display:flex;
flex-direction:column;
align-items:center;

}


.sentimento a{

text-decoration:none;
color:black;

}


.sentimento img{

width:120px;
margin-top:10px;
display:block;

}

img{
background-color:#ffffff;
}

.banner {
  width: 100%;
  height: auto;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

.menu {
  display: none;
  background-color: #ffffff;
  padding: 10px;
}

.menu a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.menu a:hover {
  background-color: #f0f0f0;
}

a {
  color: #ff8fb1;
  text-decoration: none;
}

a:hover {
  color: #ff5c8a;
}

p{
font-size:22px;
margin:40px;
}

@media (max-width: 600px) {

p{
font-size:28px;
margin:30px;
}

a{
font-size:20px;
}

}

.stars{
position: fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
overflow:hidden;
z-index:-1;
}

.star{
position:absolute;
color:#ffd6f0;
animation:fall linear infinite;
}

@keyframes fall{
0%{
transform:translateY(-10%);
opacity:1;
}

100%{
transform:translateY(110vh);
opacity:0;
}
}

@media (max-width: 600px){

body{
font-size:22px;
}

p{
font-size:24px;
line-height:1.6;
margin:25px;
}

a{
font-size:20px;
}

h1{
font-size:32px;
}

}

body{
cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Ctext y='24' font-size='24'%3E⭐%3C/text%3E%3C/svg%3E"), auto;
}

.poema{
font-style: italic;
font-size: 22px;
text-align: center;
margin: 40px;
line-height: 1.8;
}

.pagina-aniversario{
text-align:center;
line-height:1.8;
padding:20px;
}

.pagina-aniversario p{
font-size:36px;
}

.pagina-aniversario h1{
font-size:48px;
}

.pagina-aniversario input{
font-size:30px;
padding:10px;
}

.pagina-aniversario button{
font-size:28px;
padding:10px 20px;

}
#resultado{
color:#ff8fb1;
margin-top:25px;
}
#resultado{
margin-top:25px;
font-size:24px;
}

.erro-senha{
display:inline-block;
color:#ff8fb1;
animation:aparecer 0.8s ease;
}

@keyframes aparecer{

from{
opacity:0;
transform:translateY(10px);
}

to{
opacity:1;
transform:translateY(0px);
}

}
}

}
