body{

background:#D8D9D9;
font-family:'Lobster', cursive;
font-style:italic;
text-align:center;
margin:0;
padding:20px;

}


h1{

font-size:48px;
margin:10px;

}


h2{

font-size:36px;
margin:10px;

}


.topo{

display:flex;
justify-content:center;
align-items:center;
gap:40px;
margin-top:20px;

}


.gatinho-flor (2){

width:150px;

}


.texto-tempo{

margin-top:40px;
font-size:28px;

}


.contador{

font-size:32px;
margin-top:10px;

}


.titulo-cartinhas{

font-size:70px;
margin-top:60px;

}


.subtitulo{

font-size:30px;
margin-top:10px;

}


.sentimentos{

display:flex;
justify-content:center;
gap:70px;
margin-top:40px;
flex-wrap:wrap;

}


.sentimento{

display:flex;
flex-direction:column;
align-items:center;

}


.sentimento a{

text-decoration:none;
color:black;

}


.sentimento img{

width:120px;
margin-top:10px;
display:block;

}

img{
background-color:#DBD9D9;
}
